@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #002329;
  --primary: #48B770;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-primary: var(--primary);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #ffffff;
    --foreground: #002329;
    --primary: #48B770
  }
}

html {
  scroll-behavior: smooth;
}


